.container {
	width: 200px;	height: 200px;
}
.cell {
	float: left;
	outline: 1px solid black;
	width: 33%;	height: 33%;
	display: table;
}
.text {
	display: table-cell;
	vertical-align: middle;
	text-align:  center;
	font-size: 200%;
}
